<h1>Registra nuevo estudiante</h1>

<%= form_for :student, url: students_path do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Ver estudiantes', students_path %>
